
.personal-home {
    $title-offset: 14rem;

    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 30rem;
    color: white;

    &.personal-home-paused {
        .personal-home-drip {
            &:before, &:after {
                animation-play-state: paused !important;
            }
        }
        .personal-home-backdrop {
            animation-play-state: paused !important;
        }
    }

    .personal-home-title {
        position: absolute;
        top: 10rem;
        left: $title-offset;

        h1 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%);
            font-size: 4em;
        }
    }

    .personal-home-subtitle {
        position: absolute;
        top: 50%;
        left: calc(#{$title-offset} + 5rem);

        h1:first-child {
            margin-bottom: 1rem;
        }
    }

    .personal-home-drip {
        position: absolute;
        display: block;
        left: $title-offset;
        top: -3rem;
        height: calc(100% + 3rem);
        
        &:before {
            animation: intro-flow 1.5s ease-out forwards;
            animation-delay: 1s;
            position: absolute;
            content: '';
            transform: translateX(-50%);
            // height: 100%;
            // width: 8rem;
            border-radius: 0 0 10em 10em;
            background-color: brown;
        }
        &:after {
            animation: intro-bigflow 1s ease-out forwards;
            animation-delay: 3s;
            position: absolute;
            content: '';
            transform: translateX(-50%);
            border-radius: 0 0 10em 10em;
            // height: 100%;
            // width: 8rem;
            background-color: brown;
        }
    }
    .personal-home-backdrop {
        animation: intro-fill 15s ease-out forwards;
        animation-delay: 2.5s;
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        background-color: brown;
    }
}

@keyframes intro-fill {
    0% {
        height: 0;
    }
    9% {
        height: 3%;
    }
    100% {
        height: 80%;
    }
}

@keyframes intro-bigflow {
    0% {
        height: 0;
        width: 3.5rem;
    }
    100% {
        height: calc(100% + 2rem);
        width: 8rem;
    }
}

@keyframes intro-flow {
    0% {
        height: 0;
        width: 1.5rem;
    }
    100% {
        height: calc(100% + 2rem);
        width: 3.5rem;
    }
}